* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Open Sans;  
}

:root {
    --color-accent: #005BC1;
    --color-white: #fff;
    --color-black: #343434;
}

h1, h2 {
   font-family: Oswald; 
   font-weight: 400;
   color: var(--color-black);
}

.cont {
    max-width: 1110px;
    margin: 0 auto;
}

.header {
    height: 100vh;
    background-image: url('img/bg-first-screen.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 150px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #005ac19c;
    min-height: 80px;
    position: relative;
}

.nav-logo {
    position: absolute;
    left: 40px;
    top: 11px;
}

.nav-logo-body {
    display: flex;
    text-decoration: none;;
}

.nav-logo__logo-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 8px;
}

.logo-text {
    color: var(--color-white);
    font-size: 24px;
    letter-spacing: 0.03em;
    line-height: 29px;
    font-weight: 600px;
    font-family: Titillium Web;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-links > *:not(:last-child) {
    margin-right: 27px;
}

.nav-links__item {
    color: var(--color-white);
    text-decoration: none;
    font-size: 14px;
    font-family: Open Sans;
    font-weight: 600;
}

.header-body {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.dec-rect {
    background-color: #005ac19c;
    height: calc(100vh - 80px);
    width: 500px;
    position: absolute;
    left: 0;
    top: 0;
}

.header-body-text {
    max-width: 610px;
    margin-top: 202px;
    z-index: 10;
}

.header-body-text__title {
    color: var(--color-white);
    font-size: 48px;
    font-weight: 400;
    letter-spacing: 0.01em;
    text-align: left;
    margin-bottom: 40px;
}

.header-body-text__descr {
    color: var(--color-white);
    font-size: 16px;
    font-family: Open Sans;
    font-weight: 400;
    max-width: 440px;
    margin-bottom: 55px;
}

.header-body__btn {
    font-size: 16px;
    font-family: Open Sans;
    font-weight: 600;
    letter-spacing: 0.05em;
    text-align: center;
    color: var(--color-white);
    padding: 15px 40px;
    border: 2px solid var(--color-white);
    text-decoration: none;
    cursor: pointer;
    transition: background-color .2s ease;
}

.header-body__btn:hover {
    background-color: rgba(255, 255, 255, 0.171);
}

.main-slider {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.main-slider-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
}

.title {
    display: flex;
    align-items: center;
}

.title-dec {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    margin-right: 40px;
}

.main-slider__btns {
    display: flex;
}

.title-dec1 {
    background-color: var(--color-accent);
    height: 3px;
    width: 100px;
    margin-bottom: 13px;
    
}

.title-dec2 {
    background-color: var(--color-accent);
    height: 3px;
    width: 50px;
}

.title__text {
    font-size: 30px;
    letter-spacing: 0.05em;
    font-family: Oswald;
    font-weight: 400;
    text-transform: uppercase;
}

.btn-slider {
    cursor: pointer;
    padding: 20px 24px;
    background-color: transparent;
    border: 2px solid var(--color-accent);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color .2s ease;
    -webkit-transition: background-color .2s ease;
    -moz-transition: background-color .2s ease;
    -ms-transition: background-color .2s ease;
    -o-transition: background-color .2s ease;
}

.btn-slider:hover {
    background-color: rgba(170, 217, 255, 0.171);
}

.btns__prev {
    border-right: none;
}

.main-slider-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 150px;
}

.main-slider-body__card {
    width: 540px;
    height: 400px;
    background-image: url('img/bg-card.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 35px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    cursor: pointer;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}

.main-slider-body__card:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

.main-slider-body__card:nth-child(2) {background-image: url('img/bg-card2.png');}

.card-descr {
    background-color: var(--color-white);
    padding: 20px 25px;
    max-width: 250px;
}

.main-slider-body__card:nth-child(1) {
    margin-right: 30px;
}

.card-descr__title {
    font-size: 18px;
    font-family: Oswald;
    font-weight: 400;
    letter-spacing: 0.05em;
    margin-bottom: 14px;
}

.card-descr__text {
    font-size: 14px;
    font-family: Open Sans;
    font-weight: 300;
}

.section-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 70px;
}

.main-catalog {
    margin-bottom: 165px;
}

.main-catalog-categories {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 55px;
}

.categories-item__link:not(:last-child) {
    margin-right: 47px;
}

.categories-item__link {
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 0.05em;
    color: var(--color-black);
    font-family: Oswald;
    font-weight: 400;
    text-decoration: none;
    position: relative;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
}

.categories-item__link::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    background-color: var(--color-accent);
    height: 2px;
    width: 0;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
}

.categories-item__link:hover {
    color: var(--color-accent);
}

.categories-item__link:hover::after {
    width: 100%;
}

.main-catalog-cards {
    display: flex;
    justify-content: space-between;
}

.card__img, .catalog-cards__card {
    max-width: 350px;
    max-height: 300px;
}

.catalog-cards__card {
    position: relative;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    cursor: pointer;
}

.catalog-cards__card:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

.catalog-cards__card .card-descr {
    position: absolute;
    bottom: 15px;
    right: 0;
    display: flex;
    padding-right: 21px;
    align-items: center;
    background-color: var(--color-accent);
    padding: 20px 25px;
    min-height: 86px;
    min-width: 265px;
}

.catalog-cards__card .card-descr .card-descr__text {
    color: var(--color-white);
    font-size: 18px;
    font-weight: 400;
    font-family: Oswald;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.main-rent {
    margin-bottom: 108px;
}

.main-rent-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-rent-body__text-block {
    max-width: 350px;
}

.text-block__inf {
    font-size: 18px;
    font-weight: 300;
    font-family: Open Sans;
    line-height: 24.5px;
    color: var(--color-black);
}

.main-rent-body__rent-item {
    padding: 30px;
    border: 3px solid var(--color-accent);
}

.rent-item-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.header__title {
    font-size: 18px;
    font-weight: 400;
    font-family: Oswald;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.rent-item-header__btns {
    display: flex;
    align-items: center;
    margin-left: 65px;
}

.rent-item-body {
    display: flex;
    justify-content: flex-start;
}

.rent-item-body__info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 281px;
}

.rent-item-body__img {
    max-height: 250px;
    max-width: 250px;
    margin-right: 30px;
}

.info__title {
   font-size: 16px;
   font-weight: 400;
   font-family: Oswald;
   letter-spacing: 0.05em;
   text-transform: uppercase; 
   max-width: 170px;
   margin-bottom: 6px;
}

.info-list {
    list-style-position: inside;   
}

.info-list__item {
    list-style-type: none;
    padding-left: 20px;
    position: relative;
    font-size: 14px;
    color: var(--color-black);
    font-weight: 300;
    font-family: Open Sans;
    line-height: 19px;
}

.info-list__item:not(:last-child) {
    margin-bottom: 25px;
}

.info-list__item::before {
    content: '';
    position: absolute;
    height: 4px;
    width: 4px;
    left: 0;
    top: 8.5px;
    background-color: var(--color-black);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.main-news {
    margin-bottom: 120px;
}

.main-news-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
}

.main-news-header__btn {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    font-family: Open Sans;
    letter-spacing: 0.05em;
    padding: 15px 35px;
    border: none;
    background-color: var(--color-accent);
    color: var(--color-white);
    cursor: pointer;
}

.main-news-body {
    display: flex;
    justify-content: space-between;
}

.news-item {
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    cursor: pointer;
}

.news-item:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

.main-news-body__main-item {
    display: flex;
}

.main-news-body__main-item {
    max-width: 540px;
}

.main-item__img {
    max-width: 255px;
    max-height: 242px;
    margin-right: 30px;
}

.main-item-inf__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 42px;
}

.main-news-body__item {
    max-width: 225px;
}

.header__date {
    font-size: 14px;
    font-weight: 600;
    font-family: Open Sans;
    color: #979797;
}

.body__text, .item__text {
    font-size: 14px;
    font-weight: 300;
    font-family: Open Sans;
    line-height: 19px;
    margin-bottom: 21px;
}

.item__title {
    margin-bottom: 20px;
}

.item__text {
    margin-bottom: 20px;
}

.body__read-all {
    font-size: 14px;
    font-weight: 400;
    font-family: Open Sans;
    color: var(--color-black);
}

.item-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}