* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Open Sans;  
}

:root {
    --color-accent: #005BC1;
    --color-white: #fff;
    --color-black: #343434;
}

h1, h2 {
   font-family: Oswald; 
   font-weight: 400;
   color: var(--color-black);
}

.cont {
    max-width: 1110px;
    margin: 0 auto;
}

.header {
    height: 100vh;
    background-image: url('img/bg-first-screen.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 150px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #005ac19c;
    min-height: 80px;
    position: relative;
}

.nav-logo {
    position: absolute;
    left: 40px;
    top: 11px;
}

.nav-logo-body {
    display: flex;
    text-decoration: none;;
}

.nav-logo__logo-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 8px;
}

.logo-text {
    color: var(--color-white);
    font-size: 24px;
    letter-spacing: 0.03em;
    line-height: 29px;
    font-weight: 600px;
    font-family: Titillium Web;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-links > *:not(:last-child) {
    margin-right: 27px;
}

.nav-links__item {
    color: var(--color-white);
    text-decoration: none;
    font-size: 14px;
    font-family: Open Sans;
    font-weight: 600;
}

.header-body {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.dec-rect {
    background-color: #005ac19c;
    height: calc(100vh - 80px);
    width: 500px;
    position: absolute;
    left: 0;
    top: 0;
}

.header-body-text {
    max-width: 610px;
    margin-top: 202px;
    z-index: 10;
}

.header-body-text__title {
    color: var(--color-white);
    font-size: 48px;
    font-weight: 400;
    letter-spacing: 0.01em;
    text-align: left;
    margin-bottom: 40px;
}

.header-body-text__descr {
    color: var(--color-white);
    font-size: 16px;
    font-family: Open Sans;
    font-weight: 400;
    max-width: 440px;
    margin-bottom: 55px;
}

.header-body__btn {
    font-size: 16px;
    font-family: Open Sans;
    font-weight: 600;
    letter-spacing: 0.05em;
    text-align: center;
    color: var(--color-white);
    padding: 15px 40px;
    border: 2px solid var(--color-white);
    text-decoration: none;
    cursor: pointer;
    transition: background-color .2s ease;
}

.header-body__btn:hover {
    background-color: rgba(255, 255, 255, 0.171);
}

.main-slider {
    display: flex;
    justify-content: space-between;
}

.main-slider-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-slider-header__title {
    display: flex;
    align-items: center;
}

.title-dec {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    margin-right: 40px;
}

.main-slider__btns {
    display: flex;
}

.title-dec1 {
    background-color: var(--color-accent);
    height: 3px;
    width: 100px;
    margin-bottom: 13px;
    
}

.title-dec2 {
    background-color: var(--color-accent);
    height: 3px;
    width: 50px;
}

.title__text {
    font-size: 30px;
    letter-spacing: 0.05em;
    font-family: Oswald;
    font-weight: 400;
}

.btn-slider {
    cursor: pointer;
    padding: 20px 24px;
    background-color: transparent;
    border: 2px solid var(--color-accent);
    display: flex;
    justify-content: center;
    align-items: center;
}

.btns__prev {
    border-right: none;
}